<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <title>Flask Try</title>
    </head>
    <body>
        <form action="/handle_form" method="POST">

            <p>
                Do you want a subreddits with more than 1000 followers?
                <input name="answer1" type="text"/><br/>
            </p>

            <p>
                Do you want a subreddits created before 2020?
                <input name="answer2" type="text"/><br/>
            </p>

            <input type ="submit"/>
        </form>
    </body>
</html>